camunda.bpm.admin-user:
  id: demo
  password: demo

camunda:
  bpm:
    generic-properties:
      properties:
        historyTimeToLive: P1D

spring:
  datasource:
    url: jdbc:h2:mem:camunda-db
    driverClassName: org.h2.Driver
    username: sa
    password:
    hikari:
      maximum-pool-size: 5
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.H2Dialect
